.chat-area {
  max-height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  color: #eaf1ff;
  margin-left: 15%;
}

.input-container {
  border: 1px solid white;
  border-radius: 10px;
  margin: 1% 5% 5%;
  display: flex;
  flex-direction: column;
}
.user-input {
  flex: 1;
  background-color: #1b1c1d;
  resize: none;
  border: none;
  outline: none;
  margin: 1%;
  color: #eaf1ff;
}

.input-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.submit-button {
  margin:1%;
  padding: 0.8em;
  background-color: #1b1c1d;
  color: white; 
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 8px;

}
.submit-button:hover{
  background-color: #eaf1ff;
  color:#1b1c1d;
}
.submit-button:focus-visible {
  outline: 2px solid #eaf1ff;
  outline-offset: 2px;
}

.conversation-area {
  min-height: 70%;
  max-height: 70%;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  overflow-y: scroll;
  gap: 20px;
  padding-top: 5%;
  color: #eaf1ff;
}

.conversation-area::-webkit-scrollbar {
  background: #1b1c1d;
  width: 10px;
}
.conversation-area::-webkit-scrollbar-thumb {
  background: #282a2c;
}

.user-message,
.ai-message {
  padding: 8px;
}

.user-message {
  margin-left: 30%;
  margin-top: 1%;
  margin-right: 1%;
  align-self: flex-end;
  border-radius: 10px;
  background-color: #333537;
  border: 1px solid #333537;
}

.ai-message {
  align-self: flex-start;
}
