.sidebar {
  width: 50px; /* Collapsed width - enough for icons */
  min-width: 50px;
  background-color: #282a2c;
  color: white;
  transition: width 0.7s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #282a2c;
  font-family: "Inter", "Segoe UI", sans-serif;
}

.sidebar.open {
  position: abosolute;
  width: 250px;
  z-index: 999;
}

.sidebar-button {
  background: none;
  border: none;
  color: white;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  text-align: left;
  transition: background-color 0.2s ease;
  white-space: nowrap;
  font-family: "Inter", "Segoe UI", sans-serif;
}
.sidebar-button.gmail{
  background-color: none;
}
.sidebar-button.gmail:disabled{
  background-color:rgb(0, 255, 128);
  cursor: not-allowed;
}

.sidebar-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-button svg {
  width: 20px;
  text-align: center;
  flex-shrink: 0;
}

.sidebar-text {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease 0.1s;
}

.sidebar.open .sidebar-text {
  opacity: 1;
}

.chat-history {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border-top: 1px solid #3a3b3d;
}

.chat-history-title {
  /* font-size: 14px; */
  font-weight: bold;
  margin-bottom: 10px;
  color: #aaa;
  padding-left: 8px;
}

.chat-history-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-history-item {
  padding: 5px 9px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  /* font-size: 14px; */
  color: #ccc;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-history-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
